:root {
  /* 顶部加载进度条的颜色 */
  --ap-nprogress-bg-color: var(--el-color-primary);

  --ap-navbar-height: 50px;
  --ap-navbar-bg-color: #ffffff;
  --ap-header-height: calc(var(--ap-navbar-height));

  --ap-logo-text-color: inherit;
  --ap-logo-bg-color: inherit;

  --ap-sidebar-width: 220px;
  --ap-sidebar-width--hide: 64px;
  --ap-sidebar-item-height: 36px;
  --ap-sidebar-icon-size: 18px;
  --ap-sidebar-item-hover-bg-color: color-mix(in srgb, var(--ap-sidebar-bg-color), var(--el-color-white) 10%);
  --ap-sidebar-text-color: #fff;
  --ap-sidebar-bg-color: #262935;
  --ap-sidebar-hover-text-color: var(--el-color-primary);
  --ap-sidebar-active-text-color: var(--el-color-primary);
  --ap-sidebar-active-bg-color: color-mix(in srgb, var(--ap-sidebar-bg-color), var(--el-color-black) 70%);
}
