.custom-table.el-table {
  --el-table-cell-align: center;
  --el-table-header-text-color: var(--el-text-color-primary);
  --el-table-header-bg-color: var(--el-color-info-light-8);
  border-radius: var(--el-border-radius-base);
  .el-table__header {
    letter-spacing: 2px;
  }
  .cell {
    text-align: var(--el-table-cell-align);
  }
  /* 操作列按钮添加默认间隔 */
  .el-link + .el-link {
    margin-left: 8px;
  }
}
