@font-face {
  font-family: "iconfont"; /* Project id 4611674 */
  src: url('iconfont.woff2?t=1731744660451') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Swap:before {
  content: "\e665";
}

.icon-Lightning:before {
  content: "\e8c5";
}

.icon-BloodPressure:before {
  content: "\e684";
}

.icon-Play:before {
  content: "\e60e";
}

.icon-Square:before {
  content: "\ea6f";
}

.icon-DoubleVerticalLine:before {
  content: "\e610";
}

.icon-PauseCircle:before {
  content: "\e620";
}

.icon-Microphone:before {
  content: "\e605";
}

.icon-Report:before {
  content: "\e7d6";
}

.icon-Home:before {
  content: "\e60d";
}

.icon-Fold:before {
  content: "\ea6b";
}

.icon-Expand:before {
  content: "\ea70";
}

.icon-Breathe:before {
  content: "\e913";
}

.icon-HeartRate:before {
  content: "\e75a";
}

.icon-PointArrowTop:before {
  content: "\e72e";
}

.icon-PointArrowBottom:before {
  content: "\e72f";
}

.icon-PointArrowLeft:before {
  content: "\e730";
}

.icon-PointArrowRight:before {
  content: "\e72d";
}

.icon-Edit:before {
  content: "\e61e";
}

.icon-StopCircle:before {
  content: "\ea89";
}

.icon-PlayCircle:before {
  content: "\e6d1";
}

.icon-Role:before {
  content: "\e60c";
}

.icon-Setting:before {
  content: "\e634";
}

.icon-User:before {
  content: "\e8ea";
}

.icon-SwitchButton:before {
  content: "\e630";
}

.icon-Guard:before {
  content: "\e615";
}

.icon-WeChat:before {
  content: "\e7e5";
}

.icon-Browser:before {
  content: "\e604";
}

.icon-VSCode:before {
  content: "\e606";
}

.icon-External:before {
  content: "\f68e";
}

.icon-List:before {
  content: "\e600";
}

.icon-ManyPeople:before {
  content: "\e626";
}

.icon-So:before {
  content: "\e621";
}

.icon-Because:before {
  content: "\e623";
}

.icon-Base64:before {
  content: "\e60b";
}

.icon-Random:before {
  content: "\e622";
}

.icon-Flag:before {
  content: "\e641";
}

.icon-Tool:before {
  content: "\e6cf";
}

.icon-TaiChi:before {
  content: "\e8e5";
}

.icon-Coupon:before {
  content: "\e6c2";
}

.icon-Sync:before {
  content: "\e68e";
}

.icon-CopyDocument:before {
  content: "\e61d";
}

.icon-IdCard:before {
  content: "\e672";
}

.icon-Upload:before {
  content: "\e671";
}

.icon-Download:before {
  content: "\e680";
}

.icon-Copyright:before {
  content: "\e656";
}

.icon-WindowMaximize:before {
  content: "\e65b";
}

.icon-WindowRestore:before {
  content: "\e65c";
}

.icon-Unlock:before {
  content: "\e678";
}

.icon-Lock:before {
  content: "\e67a";
}

.icon-Close:before {
  content: "\e644";
}

.icon-Plus:before {
  content: "\e602";
}

.icon-Minus:before {
  content: "\e603";
}

.icon-Delete:before {
  content: "\e78e";
}

.icon-Search:before {
  content: "\e629";
}

.icon-ArrowLeftDouble:before {
  content: "\e848";
}

.icon-ArrowRightDouble:before {
  content: "\e849";
}

